[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = http://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = https://github.com/TheCherno/imgui

[submodule "Hazel/vendor/yaml-cpp"]
	path = Hazel/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp