[submodule "Hazel/vendor/spdlog2"]
	path = Hazel/vendor/spdlog2
	url = http://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
